.main {
  flex: 1;
  min-height: 100vh;
  position: relative;
  padding-bottom: 15vh;
}

.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}

.main .nav img {
  border-radius: 50%;
  width: 40px;
}

.main .main-container {
  max-width: 900px;
  margin: auto;
}

.main .intro {
  margin: 50px 0px;
  font-size: 56px;
  color: #c4c7c5;
  padding: 20px;
  font-weight: 500;
}

.main .intro span {
  background: -webkit-linear-gradient(90deg, #4285f4, #2aa7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.main .card {
  border-radius: 20px;
  height: 150px;
  background-color: #f0f4f9;
  position: relative;
  padding: 15px;
  cursor: pointer;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: #585858;
  font-size: 17px;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.main .main-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  max-width: 900px;
  margin: auto;
  padding: 0px 20px;
}

.main .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #f0f4f9;
}

.main .search-box img {
  width: 24px;
  cursor: pointer;
}

.main .search-box input {
  flex: 1;
  outline: none;
  background: transparent;
  border: none;
  padding: 8px;
  font-size: 18px;
}

.main .search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .disclaimer {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin: 10px auto;
  color: #c4c7c5;
}

.main .result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll; /* this allows us to scroll within main frame */
}

.main .result::-webkit-scrollbar {
  display: none;
  /* this allows the webpage to hide scroll bar*/
}

.main .resultTitle {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.main .result img{ /* .result img applys the style to both img */
  width: 40px;
  border-radius: 50%;
}

.main .resultData {
  display: flex;
  align-items: start;
  gap: 20px;
}